# Server
NODE_ENV=development
PORT=4000

# MongoDB (Atlas Search uchun Atlas tavsiya etiladi)
MONGODB_URI=mongodb://127.0.0.1:27017/autoparts

# JWT (productionda majburiy o'zgartiring)
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d


UPLOADTHING_TOKEN=